DB_HOST=localhost
DB_USER=your_mysql_user
DB_PASSWORD=your_mysql_password
DB_NAME=projekt2

TEST_DB_HOST=localhost
TEST_DB_USER=your_mysql_user
TEST_DB_PASSWORD=your_mysql_password
TEST_DB_NAME=test_projekt2
